<app-nav-and-footer></app-nav-and-footer>
<section class="container">
    <article>
      <div>
        <h2>Mis Canciones</h2>
        <ul>
          <li *ngFor="let chord of chords">
            <a [routerLink]="['/song', chord._id]">{{chord.title}} - {{chord.author}}</a>
          </li>
        </ul>
        <button (click)="createChords()" >Crear Canción</button>
      </div>
    </article>
    <article>
        <div>
            <h2>Mis Listas</h2>
            <ul>
              <li *ngFor="let list of user.myLists">
              <a [routerLink]="['/list', list._id]">{{list.date | date:"EEEE, d MMM"}}</a>
              </li>
            </ul>
            <button (click)="createList()">Crear Lista</button>
          </div>
    </article>
  </section>
  <app-footer></app-footer>


