<section id="container">
  <form ngNativeValidate *ngIf="isLogged" class="card">
    <h2>Inicia Sesión</h2>
    <input  name="email" required [(ngModel)]="auth.email" type="email" placeholder="Correo">
    <input  name="password" required [(ngModel)]="auth.password" type="password" placeholder="Contraseña">
    <button (click)="login()">Entrar</button>
    <p>¿No tienes una cuenta? <span (click)="isLogged=false" >Click aquí</span></p>
  </form>
  <form ngNativeValidate *ngIf="!isLogged" class="card">
    <h2>Registrate</h2>
    <input required name="username" [(ngModel)]="auth.username" type="text" placeholder="Usuario">
    <input required name="email" [(ngModel)]="auth.email" type="email" placeholder="Correo"> 
    <input required name="password" [(ngModel)]="auth.password" type="password" placeholder="Contraseña">
    <button (click)="signup()">Crear</button>
    <p>Ya tienes cuenta? <span (click)="isLogged=true" >Click aquí</span></p>
  </form>
</section>
