<app-nav-and-footer></app-nav-and-footer>
<section>
  <h2>Crea una canción</h2>
  <form > 
    <input placeholder="Titulo de la canción" type="text" name="title" [(ngModel)]="chords.title">
    <input placeholder="Tono: Dm, F..." type="text" name="key" [(ngModel)]="chords.key" >
    <input placeholder="Autor" type="text" name="author" [(ngModel)]="chords.author" >
    <div>
      <label for="audioURL">Sube un Archivo </label>
      <input type="file" name="audioURL" (change)="onFileChange($event)"> <span> ó </span>
      <input placeholder="Youtube link" type="text" name="ytURL" [(ngModel)]="chords.ytURL" >
    </div>
    <textarea placeholder="Acordes" [(ngModel)]="chords.partiture" name="partiture"></textarea>
    <button (click)="saveSong()" >Guardar Canción</button>
  </form>
</section>
<app-footer></app-footer>
