<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<footer class="foot-container">
  <div class="card">
  <h5>ChordLsit</h5>
  <p>
    Aquí podrás almanecar tu repertorio de canciones y listas para 
    organizar el proximo evento de tu banda y así todos esten en la misma página, 
    además podrás buscar entre los acordes de cualquier canción que alguien mas
    haya subido.
    Para poder acceder a la creación de listas o acordes debes iniciar sesión
  </p>
  </div>
  <div class="card">
    <h5>Contacto</h5>
    <ul>
      <li> 
        <a href="https://github.com/RickCampo5"><i class="fab fa-github-square"></i></a>
      </li>
      <li>
       <a href="https://www.linkedin.com/in/ricardoismaelcamposmartinez/"><i class="fab fa-linkedin"></i></a>
      </li>
      <li>ricamposm@gmail.com</li>
    </ul>
  </div>
</footer>
