<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<footer class="foot-container">
  <div class="card">
  <h5>ChordLsit</h5>
  <p>
    Esta pagina esta diseñada para compartir acordes y listas de acordes
    con tu grupo o banda así todos tendrán la posibilidad de encontrarlos
    de manera ordenada
  </p>
  </div>
  <div class="card">
    <h5>Contacto</h5>
    <ul>
      <li> 
        <a href="https://github.com/RickCampo5"><i class="fab fa-github-square"></i></a>
      </li>
      <li>
       <a href="https://www.linkedin.com/in/ricardoismaelcamposmartinez/"><i class="fab fa-linkedin"></i></a>
      </li>
      <li>ricamposm@gmail.com</li>
    </ul>
  </div>
</footer>
