<app-nav-and-footer></app-nav-and-footer>
<section *ngIf="!edit">
  <div class="card">
    <h2>{{chord.title}}</h2>
    <h3>{{chord.author}}</h3>
    <p>{{chord.key}}</p>
    <p [innerHTML]="chord.partiture"></p>
  </div>
  <div>
    <button *ngIf="userId == chord.user" (click)="editSong()">Editar</button>
    <button *ngIf="userId == chord.user" (click)="deleteSong(chord._id)" >Borrar</button>
  </div>
</section>

<section id="form" *ngIf="edit">
    <form > 
        <input type="text" name="title" [(ngModel)]="chord.title">
        <input  type="text" name="author" [(ngModel)]="chord.author" >
        <input  type="text" name="key" [(ngModel)]="chord.key" >
        <textarea [(ngModel)]="chord.partiture" name="partiture"></textarea>
        <button (click)="saveSong()" >Guardar Canción</button>
        <button (click)="cancel()" >Cancel</button>
      </form>
</section>


