<app-nav-and-footer></app-nav-and-footer>
<section *ngIf="!edit">
  <article>
  <div class="card">
    <h2>{{chord.title}}</h2>
    <h3>{{chord.author}}</h3>
    <p>Tono: {{chord.key}}</p>
    <p id="partiture" [innerHTML]="chord.partiture"></p>
  </div>
  </article>
  <article>
    <div class="btn-container">
      <h2>Canción:</h2>
      <audio controls src="{{chord.audioURL}}">
      </audio>
      <a *ngIf="chord.ytURL" href="{{chord.ytURL}}" target="_blank">Video en Youtube</a>
      <button *ngIf="userId == chord.user" (click)="editSong()">Editar</button>
      <button *ngIf="userId == chord.user" (click)="deleteSong(chord._id)" >Borrar</button>
    </div>
  </article>
</section>

<section id="form" *ngIf="edit">
    <form > 
        <input type="text" name="title" [(ngModel)]="chord.title">
        <input  type="text" name="author" [(ngModel)]="chord.author" >
        <input  type="text" name="key" [(ngModel)]="chord.key" >
        <div>
          <input type="file" name="audioURL" (change)="onFileChange($event)">
          <span> ó </span>
          <input type="text" name="ytURL" [(ngModel)]="chord.ytURL" >
        </div>
        <textarea [(ngModel)]="chord.partiture" name="partiture"></textarea>
        <button (click)="saveSong()" >Guardar Canción</button>
        <button (click)="cancel()" >Cancel</button>
      </form>
</section>
<app-footer></app-footer>



