section{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 500px;
  width: 100vw;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 300px;
}

#form{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 500px;
}
form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;  
}

input{
  width: 200px;
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1em;
}

textarea{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 1em;
  width: 500px;
  height: 300px;
}

button{
  margin-top: 20px;
  width: 200px;
  height: 30px;
  font-size: 1em;
}

.btn-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  max-width: 200px;
}

@media screen and (max-width:600px){
  section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    width: 100vw;
  }
  .btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    align-items: center;
    max-width: 200px;
  }
  textarea{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1em;
    width: 200px;
    height: 100px;
  }
}