<nav>
  <a *ngIf="!userId" [routerLink]="['/login']">
    <img src="https://res.cloudinary.com/dfjzvlip6/image/upload/v1533663461/ChordList/stencil.default.png" alt="Music Chord List">
  </a>
  <a *ngIf="userId" [routerLink]="['/profile', userId]">
    <img src="https://res.cloudinary.com/dfjzvlip6/image/upload/v1533663461/ChordList/stencil.default.png" alt="Music Chord List">
  </a>
  <!-- <div>
    <input [(ngModel)]="obj.regex" type="text" placeholder="¿Qué canción buscas?">
    <button (click)="search()" >Buscar</button>
  </div> -->
  <ul>
    <li>
      <a *ngIf="userId" [routerLink]="['/profile', userId]">Perfil</a>
      <a *ngIf="!userId" [routerLink]="['/login']" >Perfil</a>
    </li>
    <li>
     <a [routerLink]="['/chords']">Acordes</a>
    </li>
    <li *ngIf="userId" >
      <a href="#" (click)="logout()">Log Out</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
