img{
  width: 150px;
  height: 80px;
}

input{
  width: 200px;
  height: 20px;
  font-size: 1em;
}

button{
  background-color: #4f5bff;
  margin-left: 20px;
  width: 100px;
  height: 30px;
  font-size: 1em;
  color: #fff
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #4f5bff;
  height: 100px;
}

ul{
  display: flex;
  flex-direction: row;
}

li{
  margin-left: 20px;
  text-decoration: none;
  list-style: none;
}

li a{
  text-decoration: none;
  color: #fff;
}

footer{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  max-height: 200px;
  background-color: #4f5bff;
  width: 100vw;
  color: #fff
}

.weDo{
  width: 300px;
}

h5{
  font-size: 1em;
  margin-bottom: -1px;
}
p{
  font-size: 0.9em;
}


