section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}

a{
  color: black;
}
ul{
  list-style: none;
}

@media screen and (min-width: 1024px){
  section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 550px;
  }
}